html{
    width: 100%;
}
header{
    background-image: url("../imagenes/bagraun.png");
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 320px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

.topbar{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: #342928ae;
    z-index: 999;
}
