html{
    width: 100%;
}

header{
    background-image: url("../imagenes/bagraun.png");
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 320px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

.topbar{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: #342928ae;
    z-index: 999;
}

.aa{
    display: inline-block;
}

.boton{
    box-sizing: border-box;
    width: 300px;
    height: 59px;
    background-color: #ff8c42;
    border-radius: 13px;
    color: black;
    font-size:  x-large;
    align-self: center;
    padding: 10px;
    margin: 0;
}

.boton:hover{
    background: transparent;
    border: 1px solid #FF8C42;
    cursor: pointer;
    color: #FF8C42;
}

.titulo>h1{
    font-size: 120px;
    color: #FF8C42;
    font-family: "Dancing Script";
    margin: 100px 0 10px 0;
    line-height: 115px;
    font-weight: 400;
}

.formulario{
    height: 900px;
    width: 700px;
    border-radius: 5px;
    margin-top: 300px;
}

#divida{
    margin: 30px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.textbox input{
    text-align: left;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 67%;
    float: left;
    margin-bottom: 30px;
    border-bottom: 2px solid #ff8d43;
    padding:9px;
}

main{
    margin: 0;
    padding: 0;
    background-color: #F5EEE6;
    height: fit-content;
    display: flex;
    justify-content: center;
}