html{
    width: 100%;
}

header{
    background-image: url("../imagenes/bagraun.png");
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

.topbar{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
}

.titulo{
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 25px;
    margin-top: auto;
    margin-left: 8%;
    width: 50%;
    
}
.titulo>h1{
    font-size: 80px;
    font-family: "Dancing Script";
    margin-bottom: 0;
}

.titulo>p{
    font-size: x-large;
}
.bg-image {
    opacity: 0.25;
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: -50px;
}

body{
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

main{
    background-color: #F5EEE6;
    color: black;
    height: 700px;
}

main img{
    width: 50px;
    height: 30px;
}

main div{
    background-color: white;
    width: 31%;
    margin-left: 47%;
    margin-top: 5%;
    padding: 2% 1% 2% 1%;
}

main h2{
    font-family: "Dancing Script";
    font-size: 50px;
    margin: 0;
}

main p{
    margin-top: 0;
    font-size: large;
}

.boton1{
    border: 0;
    background-color: transparent;
    color: white;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    font-size: large;
    font-family: 'Quicksand';
}

.boton1:hover{
    text-decoration: underline;
}

.boton2{
    box-sizing: border-box;
    width: 189px;
    height: 45px;
    background: rgba(255, 140, 66, 0.24);
    border: 1px solid #FF8C42;
    border-radius: 13px;
    color: white;
    margin-left: 5px;
    font-size:  large;
    font-family: 'Quicksand';
}
.boton2:hover{
    background-color: #FF8C42;
    cursor: pointer;
}

.boton3{
    box-sizing: border-box;
    width: 300px;
    height: 59px;
    background: transparent;
    border: 1px solid #FF8C42;
    border-radius: 13px;
    color: #FF8C42;
    margin-right: 20px;
    font-size:  x-large;
    align-self: center;
}
.boton3:hover{
    background-color: #FF8C42;
    cursor: pointer;
    color: white;
}

#navgen{
    font-size: x-large;
    margin-right: 0;
    margin-left: auto;
}


footer{
    background-image: url("../imagenes/cafeteriafooter.png");
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 150px;
}

footer div{
    margin-right: 3%;
}

footer nav{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}